@model _03_22_2023.Models.phieu_cung_ung

@{
    ViewBag.Title = "Chi Tiết Phiếu Cung Ứng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    
    span {
        display: block;
    }
    
    #text-box {
        width: 70%;
        height: auto;
        border: 1px solid black;
        padding: 10px;
        margin-top: 35px;
        margin-left: 17%;
    }
    
    #text-box span {
        display: inline-block;
        width: 100%;
    }
    
    #text-box .body {
        margin-top: 10px;
    }
    
    #text-box .title {
        font-weight: bold;
        font-size: 35px;
    }
    
    #text-box .sub-title {
        font-weight: bold;
        font-size: 20px;
        margin-left: 40%;
    }
    
    #text-box .content {
        font-size: 16px;
        margin-bottom: 10px;
        margin-left: 45%;
    }
    
    #text-box img {
        width: 200px;
        height: 200px;
        border: #2b2b2b 1px solid;
        margin-bottom: 30px;
        margin-left: 40%;
    }
    
    #text-box .button {
        width: 100%;
        height: auto;
        text-align: center;
    }
</style>
<div id="text-box">
    <span class="title">Chi Tiết</span>
    <div class="body">
        <span class="sub-title">Số Phiếu:</span>
        <span class="content">@Model.so_phieu</span>    
        <span class="sub-title">Ngày Thành Lập:</span>
        <span class="content">@Model.ngay_thanh_lap</span>
        <span class="sub-title">Trị Giá Phiếu:</span>
        <span class="content">@Model.tri_gia_phieu</span>
        <span class="sub-title">Mã Nhà Cung Cấp:</span>
        <span class="content">@Model.ma_nha_cung_cap</span>
    </div>
    <i style="margin-left: 42%; position: absolute">@Html.ActionLink("Xóa", "DeleteAc", "PhieuCungUng", new { so_phieu = Model.so_phieu }, new { @class = "button-back"})</i>
    <i style="margin-left: 87%">@Html.ActionLink("Quay Lại", "Index", "PhieuCungUng", new { @class = "button-back" })</i>
</div>

