@model _03_22_2023.Models.kha_nang

@{
    ViewBag.Title = "Chỉnh Sửa Khả Năng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "KhaNang", FormMethod.Post))
{
    <div id="form-container">
        <i>@Html.ActionLink("Quay Lại", "Index", "KhaNang", new { @class = "button-back" })</i>
        <div class="title"><span>Khả Năng</span></div>
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ma_nha_cung_cap)

        <div class="form-group">
            <div class="span">
                <span>Mã Loại Hàng Hóa (*)</span>
            </div>
            <div class="input">
                @Html.EditorFor(model => model.ma_loai_hang_hoa)
                @Html.ValidationMessageFor(model => model.ma_loai_hang_hoa)
            </div>
        </div>

        <div class="form-group">
            <div class="span">
                <span>Ghi Chú</span>
            </div>
            <div class="input">
                @Html.EditorFor(model => model.ghi_chu)
                @Html.ValidationMessageFor(model => model.ghi_chu)
            </div>
        </div>

        <div class="input">
            <input type="submit" value="Lưu" />
        </div>
    </div>
}

