@model PagedList.IPagedList<_03_22_2023.Models.kha_nang>

@{
    ViewBag.Title = "Trang Khả Năng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using PagedList.Mvc;
@using PagedList;
<style>
    #table-container {
        width: 70%;
        height: 55%;
        border-radius: 1%;
        overflow: hidden;
        border: none;
        margin-left: -3%;
        margin-top: 3%;
    }
    
    #table-container table {
        width: 100%;
        font-size: 150%;
        text-align: center;
        border: none;
        margin-top: 13px;
    }
    
    #table-container table thead {
        background-color: #2b2b2b;
        color: white;
    }
    
    #table-container .button a {
        background-color: mediumseagreen;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        font-size: 200%;
        text-align: center;
        width: 100px;
        height: 45px;
    }
    
    #table-container table thead tr th {
        padding: 10px 0;
        text-align: center;
    }
    
    #table-container table tbody tr td {
        padding: 10px 0;
    }
    
    #table-container table tbody tr td:hover {
        background-color: grey;
    }
    
    #table-container table tbody tr:nth-child(odd) {
        background-color: whitesmoke;
    }
    
    #table-container table tbody tr:nth-child(even) {
        background-color: lightgray;
    }
    
    #table-container table, th, td {
        border: 1px solid whitesmoke;
    }
    
    #table-container table tbody tr td a {
        background-color: mediumseagreen;
        color: white;
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
    }
    
    #table-container .search {
        width: 100%;
        height: 50px;
        border-radius: 5px;
        border: 1px solid lightgray;
        padding: 5px 10px;
        font-size: 150%;
        margin-left: 15%;
    }
</style>

<div id="table-container">
    <div class="button">
        <a href='@Url.Action("Create", "KhaNang", new { Model })'>Thêm</a>
    </div>
    <div class="search">
        @using (Html.BeginForm("Index", "KhaNang", FormMethod.Get))
        {
            <input type="text" name="search" placeholder="Tìm kiếm theo Mã Nhà Cung Cấp" />
            <input type="submit" value="Tìm kiếm" />
        }
    </div>
    <br>
    <table>
        <thead>
        <tr>
            <th>Mã Nhà Cung Cấp</th>
            <th>Mã Loại Hàng Hóa</th>
            <th>Ghi Chú</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody class="table-body">
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ma_nha_cung_cap</td>
                <td>@item.ma_loai_hang_hoa</td>
                <td>@item.ghi_chu</td>
                <td><a href='@Url.Action("Edit", "KhaNang", new { ma_nha_cung_cap = item.ma_nha_cung_cap, ma_loai_hang_hoa = item.ma_loai_hang_hoa })'>Sửa</a></td>
                <td><a style="background-color: #2e6da4" href='@Url.Action("Details", "KhaNang", new { ma_nha_cung_cap = item.ma_nha_cung_cap, ma_loai_hang_hoa = item.ma_loai_hang_hoa })'>Chi Tiết</a></td>
                <td><a style="background-color: #ac2925" href='@Url.Action("Delete", "KhaNang", new { ma_nha_cung_cap = item.ma_nha_cung_cap, ma_loai_hang_hoa = item.ma_loai_hang_hoa })'>Xóa</a></td>
            </tr>
        }
        </tbody>
    </table>
    <div style="margin-left: 50%; align-content: flex-end; justify-content: flex-end">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>
</div>


